*{
font-family:sans-serif;"Caviar dreams";
    src:url('fonts/CaviarDreams.ttf');}

header{

margin-left: 20px;
margin-right: 20px;
text-align: center;
font-size: 23px; 
font-family: Helvetica; 
background-color: black;
color: white;
}


nav ul {
display: flex;
text-decoration: none;}

nav li{
padding: 34px 34px 30px 30px;
width: 100%;
list-style-type:none;
}


body 
{
color: black; 
margin: 0;
width: 100%;
} 

img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main ul {
    margin: 20px;
    padding: 10px; 
	list-style: none;
    text-align: center;
}
 

main il {
 text-align: inherit;
} 

a {
    text-decoration:none;
    color: white;
   }
 

a:hover {color: black; 
        background-color: white;}
header:hover {  background-color: white;
                color:black;}


ul{
margin:0;
padding: 0;}



